ConfigID:default
LocalIP:disp_domain
LocalPort:9916
OcrDbUrl:root:sunkaisens@127.0.0.1:3306/ocr
HssDbUrl:provision:smg123@127.0.0.1:3306/hss
DBIP:127.0.0.1
DBPort:3306
CDRTurn:NO
AlertInval(s):5
ConnectInval(s):100
TickInval(s):7
TickPSInval(s):90
GroupTickInval(s):60
CDRHour:23
CDRInval(hour):24
DBMaxLine:10000
BillingThreadNum:1
SmscThreadNum:1
PacketThreadNum:1
GroupCallThreadNum:1
AsPrefix:3|1259|1288|1277
RootDir:.
DebugFlag:0x3f
LocalOamIP:disp_domain
LocalOamPort:9928
RemoteOamIP:disp_domain
RemoteOamPort:6123
StatFilterBilling:
StatFilterSmsc:
SmscDBStore:true
PacketDBStore:true
BillingDBStore:true
GroupCallDBStore:true
SmscContentParse:true
SmscMoackProcess:false
SmsSynInterval(ms):500
SmscDedupInterval(ms):500
BillingDedupInterval(ms):500
GroupCallDedupInterval(ms):500
SmscDupStore:false
BillingDupStore:false
GroupCallDupStore:false
IPMaster:disp_domain
IPSlave:disp_domain
SrcAddrMapHssDbIdx:127.0.0.1:6666-0
#SrcAddrMapHssDbIdx:
