ConfigID:default
LocalIP:dispIp
LocalPort:bill_local_port
OcrDbUrl:softwareDbUsername:softwareDbpassword@dispIp:db_port/ocr
HssDbUrl:switchDbUsername:switchDbPassword@switchIp:db_port/hss
DBIP:dispIp
DBPort:db_port
CDRTurn:NO
AlertInval(s):64
ConnectInval(s):128
TickInval(s):70
TickPSInval(s):70
GroupTickInval(s):70
CDRHour:23
CDRInval(hour):24
DBMaxLine:10000
BillingThreadNum:1
SmscThreadNum:1
PacketThreadNum:1
GroupCallThreadNum:1
AsPrefix:3|1259|1288|1277
RootDir:.
DebugFlag:0xff
DebugNumOfFile:16
LocalOamIP:oam_local_ip
LocalOamPort:0
RemoteOamIP:oam_remote_ip
RemoteOamPort:9999
StatFilterBilling:
StatFilterSmsc:
SmscDBStore:true
PacketDBStore:true
BillingDBStore:true
GroupCallDBStore:true
SmscContentParse:false
SmscMoackProcess:false
SmsSynInterval(ms):500
SmscDedupInterval(ms):500
BillingDedupInterval(ms):500
GroupCallDedupInterval(ms):500
SmscDupStore:false
BillingDupStore:true
GroupCallDupStore:false
IPMaster:dispIp
IPSlave:192.168.0.3
JoinGroupCallStartLocation:true
